.shows {
  gap: 20px;
  padding: 2rem;
  margin: 5rem auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  animation: shows-appear 1s ease-out forwards;
}

.home {
  margin: 1rem auto;
}

@keyframes shows-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  margin: 25%;
  color: white;
}

.result_title {
  color: white;
  text-align: left;
  margin-left: 15%;
}
