.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  display: flex;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0 10%;
  color: white;
  justify-content: space-between;
  align-items: center;
  background-color: #2a244f;
  overflow: hidden;
}

.links {
  padding-right: 20%;
  width: 20%;
  display: flex;
}

.links a {
  text-decoration: none;
}
.links span {
  margin: 0.8rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  font: inherit;
  font-weight: bold;
  font-size: 1.1rem;
  width: 50%;
  color: white;
  text-decoration: none;
}

.links span:hover {
  background-color: red;
}

.links span:active {
  background-color: lightcoral;
}
